<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom sticky-top py-1">
  <div class="container">

    <!-- BRAND -->
    <a class="text-uppercase navbar-brand fw-bold" href="{{ '/' | relative_url }}">
      {{ site.title }}
    </a>

    <!-- TOGGLER -->
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- MENU -->
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav ms-auto text-center text-lg-start mt-3 mt-lg-0">

        <li class="nav-item">
          <a class="nav-link active fw-bold" href="{{ '/' | relative_url }}">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ '/about/' | relative_url }}">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="https://aridjaya.com/">Partner</a>
        </li>

        <!-- DROPDOWN -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            Categories
          </a>
          <ul class="dropdown-menu border-0 shadow-none text-center text-lg-start">

            <li><a class="dropdown-item" href="{{ '/categories/aesthetic/' | relative_url }}">Aesthetic</a></li>
            <li><a class="dropdown-item" href="{{ '/categories/background/' | relative_url }}">Background</a></li>
            <li><a class="dropdown-item" href="{{ '/categories/car/' | relative_url }}">Car</a></li>
            <li><a class="dropdown-item" href="{{ '/categories/flower/' | relative_url }}">Flower</a></li>
            <li><a class="dropdown-item" href="{{ '/categories/landscape/' | relative_url }}">Landscape</a></li>
            <li><a class="dropdown-item" href="{{ '/categories/nature/' | relative_url }}">Nature</a></li>
            <li><a class="dropdown-item" href="{{ '/categories/wallpaper/' | relative_url }}">Wallpaper</a></li>

            <li><hr class="dropdown-divider"></li>

            <li>
              <a class="dropdown-item" target="_blank" href="https://aridjaya.com/hijab/">
                Hijab
              </a>
            </li>

          </ul>
        </li>

        <!-- CTA BUTTON -->
        <li class="nav-item ms-lg-3 mt-3 mt-lg-0">
          <a class="btn btn-primary w-100 w-lg-auto px-3" href="{{ '/sitemap/' | relative_url }}">
            Sitemap
          </a>
        </li>

      </ul>

    </div>
  </div>
</nav>