<div class="col-lg-4 mt-4 mt-lg-0 w-100 sidebar">

  <!-- RECENT POSTS -->
  <div class="card border border-1 shadow-none bg-light mb-4">
    <div class="card-body">
      <h5 class="fw-bold mb-3">Recent</h5>

      {% for post in site.posts limit:10 %}
      {% if post.url != page.url %}
      <div class="d-flex mb-3">

        {% if post.image %}
        <div class="me-2">
          <a href="{{ post.url | relative_url }}">
            <img src="{{ post.image | relative_url }}" class="rounded"
              style="min-width: 120px; height: 75px; object-fit: cover;" loading="lazy">
          </a>
        </div>
        {% endif %}

        <div>
          <a href="{{ post.url | relative_url }}" class="text-decoration-none text-dark">
            <small class="fw-semibold d-block">
              {{ post.title | truncate: 50 }}
            </small>
          </a>
          <small class="text-muted">
            {{ post.date | date: "%b %d, %Y" }}
          </small>
        </div>

      </div>
      {% endif %}
      {% endfor %}

    </div>
  </div>

  <!-- CATEGORIES -->
  <div class="card border border-1 shadow-none bg-light mb-4">
    <div class="card-body">
      <h5 class="fw-bold mb-3">Categories</h5>

      <ul class="list-unstyled mb-0">
        {% for category in site.categories %}
        <li class="mb-2 d-flex justify-content-between">
          <a href="{{ '/categories/' | append: category[0] | append: '/' | slugify | relative_url }}"
            class="text-capitalize text-decoration-none">
            {{ category[0] }}
          </a>
          <span class="badge bg-light text-dark">
            {{ category[1].size }}
          </span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- STICKY WIDGET -->
  <div id="sidebar-sticky" class="col-lg-4 mt-4 mt-lg-0 w-100">
    <div class="card border shadow-none bg-light">
      <div class="card-body">
        <h5 class="fw-bold mb-3">Featured</h5>

        <p class="small text-muted mb-2 text-center">
          {% include adsidebar.html %}
        </p>
      </div>
    </div>
  </div>

</div>