html,
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.navbar {
  border-radius: 0;
  border-bottom: 1px solid #eee;
}

img,
iframe {
  max-width: 100%;
}

.mt50 {
  margin-top: 50px;
}

.mt20 {
  margin-top: 20px;
}

.mt10 {
  margin-top: 10px;
}

.mt25 {
  margin-top: 0;

  @include media-query($on-palm) {
    margin-top: 25px;
  }
}

.p20 {
  padding: 20px 0;
}

.navbar-brand {
  font-weight: 900;
  font-size: 1.85em;
  padding: 10px 0;

  @media screen and (max-width: $on-palm) {
    font-size: 1.5em;
    margin-left: 0;
  }
}

.post-meta {
  color: $grey-color;
}

.card {
  margin-bottom: 2em;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;

  .image {
    img {
      height: 220px;
      object-fit: cover;
      object-position: center;

      @media screen and (max-width: $on-palm) {
        width: 100%;
      }
    }
  }
}

footer {
  border-top: 1px solid $grey-color-light;
}

.recent ul {
  list-style: none;
  padding: 0;
  text-align: justify;
}

.recent {
  padding: 10px;
  border: 1px solid $grey-color-light;
}

.post-img img {
  width: 100%;
}

.post-title {
  line-height: 2;
  text-decoration: underline;
}

.index-anchor {
  text-decoration: none;
  color: $text-color;

  &:hover {
    text-decoration: none;
    color: $text-color;
  }
}
